In [1]:
import pysal
import numpy as np
import pandas as pd

In [2]:
file = '../shapefiles/nyc'
shapefile = file + '.shp'
dbf = file + '.dbf'

In [3]:
thresh = pysal.min_threshold_dist_from_shapefile(shapefile)
thresh

0.20855860582311733

In [4]:
wt = pysal.threshold_binaryW_from_shapefile(shapefile,thresh)

In [5]:
data = pysal.open(dbf)

In [6]:
def run_morans(col):
    y = np.array(data.by_col(col))
    mi = pysal.Moran(y, wt,)
    return mi

In [29]:
col = '2010_HINC2'
mi = run_morans(col)
results = {
    'COLUMN': col,
    "Moran's Index": mi.I,
    'Expected Index':mi.EI,
    'Variance':mi.VI_norm,
    'z-score':mi.z_norm,
    'p-value':mi.p_norm,
    'threshold':thresh,
}
pd.options.display.float_format = '{:10.7f}'.format
pd.Series(results)

COLUMN            2010_HINC2
Expected Index    -0.0000717
Moran's Index      0.0463561
Variance           0.0000002
p-value            0.0000000
threshold          0.2085586
z-score          108.2164442
dtype: object

In [23]:
data.by_col

keys: ['ID', 'NAME', 'ST_ABBREV', 'label_x', 'label_y', '2010_AVGHI', '2010_HINC0', '2010_HIN_1', '2010_HIN_2', '2010_HIN_3', '2010_HIN_4', '2010_HIN_5', '2010_HIN_6', '2010_HIN_7', '2010_HIN_8', '2010_HIN_9', '2010_HIN10', '2010_HIN11', '2010_HIN12', '2010_HIN13', '2010_HIN14', '2010_HIN15', '2010_HIN16', '2010_HIN17', '2010_HIN18', '2010_HIN19', '2010_HIN20', '2010_HIN21', '2010_HIN22', '2010_HIN23', '2010_HINC1', '2010_HIN24', '2010_HIN25', '2010_HIN26', '2010_HIN27', '2010_HIN28', '2010_HINC2', '2010_HIN29', '2010_MEDHI', '2010_BKGP_', '2010_CITY_', '2010_CIT_1', '2010_COUNT', '2010_H(y|n', '2010_STATE', '2010_STA_1', '2010_TOTHH', '2010_TOTPO', '2010_TRACT', '2010_DKL(y', 'area', 'densitypop']

In [28]:
pd.DataFrame(data.by_col('2010_HINC2'))

         0
0       12
1       63
2       44
3       76
4      278
5       64
6        8
7        0
8       66
9       65
10       0
11      26
12       0
13      38
14      78
15      71
16      56
17     121
18     122
19      81
20      52
21      62
22      28
23      12
24      17
25      16
26      94
27       0
28      14
29      14
...    ...
13916   29
13917   74
13918   76
13919   80
13920   69
13921   53
13922   62
13923  114
13924   37
13925   95
13926  177
13927    8
13928   87
13929    7
13930   13
13931    0
13932   12
13933    7
13934   16
13935   14
13936   19
13937   78
13938   28
13939    0
13940   12
13941  168
13942   14
13943   19
13944    7
13945   21

[13946 rows x 1 columns]

In [20]:
import pickle

pickle.dump( wt, open( "nyc_weights.p", "wb" ), protocol=pickle.HIGHEST_PROTOCOL)

OSError: [Errno 22] Invalid argument